@require '_constants.styl'

$box-bg-color = $color.gray.darken-4
$box-border-radius = .25rem
$box-vert-inner-spacing = .5em
$box-horz-outer-spacing = 1rem
$box-horz-inner-spacing = 1rem
$box-border-color = $color.gray.darken-3

$table-strip-color-even = alpha($color.gray.darken-4, $bg-alpha)
$table-strip-color-odd  = transparent

article
    padding-horz: 1ch
    h1
        text-align: center
        font-size: 2em
        margin: 1em auto
    h2, h3
        margin: 2em 0 1em 0
    h4, h5
        margin: 3em 0 1em 0
    .subtitle
        font-size: 1.2em
        text-align: right
        margin: -1em 0 0 0
        opacity: 0.8
        font-weight: inherit
    .centered
        text-align: center
    em
        font-style:  normal
        font-weight: inherit
        text-decoration: underline
        color: inherit
    strong
        color: $color.white.normal
        font-weight: $font-weight-bolder
    hr
        color: $color.gray.normal
        margin: 3em auto
        border-style: solid
    p
        margin: 1.33em 0

    table, ul.box, ul.box, pre code
        border: 1pt solid $box-border-color
        border-radius: $box-border-radius
        box-sizing: border-box

    pre
        overflow-y: visible
        overflow-x: auto
        padding: 1pt
        margin-vert: 1em
        code
            margin-vert: 0
            padding: $box-vert-inner-spacing ($box-horz-inner-spacing/2)
            background-color: alpha($box-bg-color, $bg-alpha)
            display: inline-block
            min-width: 100%

    table
        margin-vert: 1em
        padding: 0
        border-collapse: collapse
        border-spacing: 0
        width:  100%
        thead
            border-bottom: 2pt solid $box-border-color
        tr
            text-align: left
            border-bottom: 1pt solid $box-border-color
            th, td
                padding: .5em
                vertical-align: middle
            th
                font-weight: $font-weight-bolder
        &.headless, &.no-head
            thead
                display: none
        &.striped
            thead
                tr
                    background-color: $table-strip-color-even
            tbody
                tr:nth-child(even)
                    background-color: $table-strip-color-even
                tr:nth-child(odd)
                    background-color: $table-strip-color-odd

        &.bordered
            tr
                th, td
                    border: 1pt solid $box-border-color
        &.borderless
            border: none
            tr
                th, td
                    border: none

    ul, ol
        list-style-position: outside
        padding-left: 3ch
        li
            margin: .5em 0
        &.box
            list-style: none
            padding: 0
            background-color: alpha($box-bg-color, $bg-alpha)
            li
                margin: 0
                padding-vert: (0.75*$box-vert-inner-spacing)
                padding-horz: (0.75*$box-horz-inner-spacing)
                border-bottom: 1pt solid $box-border-color
                &:last-child
                    border-bottom: none
            &.multiline
                li
                    padding-top:    1em
                    padding-bottom: 2em
            ul, ol
                margin: 0
                border: none
                background-color: transparent
                li
                    border-bottom: none
            &.borderless
                border: none
    img
        display: block
        margin-vert: 0
        margin-horz: auto
        max-width:  100%

    .secondary
        font-size: .8em
        opacity: .8

    blockquote
        margin-vert: 1em
        margin-horz: 0
        padding-vert: $box-vert-inner-spacing
        padding-horz: $box-horz-inner-spacing
        background-color: alpha($color.gray.darken-3, $bg-alpha)
        font-family: serif
        p
            margin: 0
        ul, ol
            margin: 0
        &.note
            &:before
                content: "Note:"
                display: block
                font-weight: $font-weight-bold
                position: relative
                left: "-%s" % ($box-horz-inner-spacing / 2)
            background-color: $color.gray.darken-4
            p~p
                margin-top: 1em

    tt, code, kbd, samp
        font-family: Consolas, monospace

@media screen and (min-width: $px-tablet)
    article
        padding-vert: 1em
        padding-horz: 1em
        h2, h3
            margin: 3em 0 1em 0
        ul, ol
            &.box
                li
                    padding-horz: $box-horz-inner-spacing
        img
            max-width: 90%
        blockquote
            margin-horz: $box-horz-outer-spacing
            &.note
                margin-horz: 0
                padding-horz: ($box-horz-inner-spacing + $box-horz-outer-spacing)
                &:before
                    left: "-%s" % (($box-horz-inner-spacing + $box-horz-outer-spacing) / 2)

@media screen and (min-width: $px-desktop)
    article
        padding-horz: 2em
        ul, ol
            &.box
                li
                    padding-horz: ($box-horz-inner-spacing*1.5)
    img
        max-width: 80%
