@require "_color-palette.styl"

header
    font-size: 1.2rem
    .banner, .banner:visited
        color:   $color.amber.lighten-3
        padding: 0
    a.banner, .banner:visited
        &:hover, &:active, &[aria-pressed="true"], &[active]
            color: $color.amber.lighten-4
            background-color: inherit
    a, a:visited
        white-space: nowrap
        cursor: pointer
        text-align: center
        text-decoration: none
        padding: 0 .5em
        color: $color.gray.normal
        &:hover
            color: $color.gray.lighten-2
            background-color: $color.gray.darken-4
        &:active, &[aria-pressed="true"], &[active]
            color: $color.white.normal
            background-color: $color.gray.darken-4


@media screen and (min-width: $px-tablet)
    header
        font-size: 1.4em
        a
            padding: 0 1em

@media screen and (orientation: landscape)
    header
        padding: 0 2ch
        a
            transition: background-color .5s, color .5s
