@require "_color-palette.styl"
@require "_constants.styl"

html
    font-family: "PingFang SC",
                 "Hiragino Sans GB",
                 "Microsoft YaHei",
                 "微软雅黑",
                 "WenQuanYi Micro Hei",
                 "文泉驿微米黑",
                 "WenQuanYi Zen Hei",
                 "文泉驿正黑",
                 "SimSun",
                 "宋体";
    font-weight: $font-weight-base
    overflow-x: hidden
    margin:  0
    padding: 0
    line-height: $line-height
    color: $text-color
    background-color: $color.black.normal
    /* fix osx text rendering, subpixel gives bad result,
     * see: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    margin: 0

footer
    margin-top: 4em
    width:    92%
    padding:  .2em ((100%-@width)/2) 0 ((100%-@width)/2)
    background-color: $color.gray.darken-4
    font-family: "Courier New", "宋体", "SimSun", monospace
    font-weight: $font-weight-thin
    font-size:   1rem
    overflow:    hidden
    .copyright
        font-size:   .75em
        line-height: 1
        padding-top: .2em
        display:     block
        text-align:  center
        text-decoration: none
        background-color: $color.gray.darken-3

a, a:visited
    color: inherit

h1
    color: $color.gray.lighten-5
h2, h3
    color: $color.gray.lighten-4

@media print
    html
        color: $color.black.normal !important
        background-color: $color.white.normal !important
    h1
        color: $color.gray.darken-4 !important
    h2,h3
        color: $color.gray.darken-3 !important
    footer
        background-color: $color.gray.lighten-3
        .copyright
            background-color: $color.gray.lighten-2
