/* dest: base.css */

@require "_page-skeleton.styl"
@require "_nav.styl"
@require "_article.styl"

$header-height = 2.85rem

.dark
    color: $color.gray.normal
    background-color: alpha($color.gray.darken-3, $bg-alpha)
    a&, a&:visited
        color: $color.gray.lighten-1
    &:hover, &:focus
        color: $color.gray.lighten-2
    &:active, &[aria-checked='true'], &[aria-selected='true']
        color: $color.white.normal

h1,h2,h3
    font-weight: bolder

body
    margin-top: $header-height
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: "calc( 100vh - %s)" % @margin-top
header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: .25em 1ch .25em 1ch
    position: fixed
    z-index: 99
    left: 0
    top:  0
    width: 100%
    box-sizing: border-box
    background-color: $color.gray.darken-4
    box-shadow: 0 .5em 1em #000
article
    margin: 0 auto
    max-width: 60ch

.placeholder
    visibility: hidden
    &:after
        white-space: pre
        content: " "
[aria-hidden="true"]
    display: none


.panel
    margin-vert: 1em
    margin-horz: 0
    padding: 1px 0
    h3
        margin: 1em auto

.checkbox, .button
    white-space: nowrap
    text-decoration: none
    border: none
    padding: .25em 1em .25em .7em
    box-sizing: border-box
    font-size: inherit
    line-height: 2
    cursor: pointer
    font-family: inherit
    &:before
        margin-right: .3em
        vertical-align: baseline

.checkbox
    &:before
        opacity: .2
    &:hover, &:active
        &:before
            opacity: .4
    &[aria-checked='true'], &[aria-selected='true']
        &:before
            opacity: .9

.button
    &:before
        opacity: .5
    &:hover
        &:before
            opacity: .8
    &:active
        &:before
            opacity: 1

.overlay
    position: fixed
    z-index:  98
    top:  0
    left: 0
    width: 100%
    height: 100%
    background-color: alpha($color.black.normal, 0.8)
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    &[aria-hidden="true"]
        display: none
    .content
        padding: 2em
        margin:  2em
        background-color: alpha($color.gray.lighten-4, 0.9)
        box-shadow: .5em .5em 2em $color.gray.darken-1
        color: $color.black.normal
        img
            display: block
            margin:  0 auto
        .title
            margin-top: 1rem
            font-size:  1.6em
            text-align: center
        .hint
            margin-top: 1rem
            font-size:  .8em
            text-align: center
            color:      $color.gray.darken-3

.qr-code
    max-width: 90vw
    width:  auto
    height: auto

@media screen and (min-width: $px-tablet)
    html
        background-image: url("/bg1.jpg")
        background-position: center
        background-repeat: no-repeat
        background-attachment: fixed
        background-size: cover
    body
        display: flex
        flex-direction: row
        justify-content: center
        align-items: stretch
        $reserved-height = $footer-reserved-height + $header-height
        min-height: "calc(100vh - %s)" % $reserved-height
        margin-bottom: $footer-reserved-height
        .main
            flex-basis: 100%
            background-color: rgba(0,0,0,0.8)
        .overlay
            height: "calc(100% - %s)" % $footer-reserved-height
        footer
            display: block
            position: fixed
            z-index:  99
            bottom:   0
            left:     0
            margin-top: 0
    .checkbox, .button
        transition: background-color .3s, color .3s
        &:before
            transition: opacity .3s
    .panel
        margin-horz: $box-horz-outer-spacing

@media screen and (min-width: $px-desktop)
    html
        letter-spacing: 0.02em
    body
        justify-content: space-around
        .main
            background: transparent
            flex-basis: initial
            padding-bottom: 3em
            padding-horz: 8ch
            box-shadow: 0 0 8ch #000
            background-color: rgba(0,0,0,0.9)
    article
        max-width: 70ch
        min-width: 70ch

@media screen and (min-width: $px-4k)
    html
        font-size: 230%

@media print
    header
        display: none
    .ctrl
        display: none !important
    body
        margin-top: 0
        .main
            padding-top: 0
