/* dest: index.css */

@require "_page-skeleton.styl"
@require "_nav.styl"

#suki-desu
    margin-top: 1em
    padding-top: 1em
    color: $color.blue.lighten-3
    .title
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
    svg
        fill: $color.light-blue.lighten-4
        transform: scale(0.9)
        margin-right: .5ch
    &:hover, &:active, &[aria-pressed="true"]
        color: $color.blue.lighten-2
        svg
            fill: $color.blue.lighten-2

#heartbeat
    font-size: 1rem
    .content-wrap
        width: 260pt
        text-align: center
    ruby rt
        font-size: 90%
    h3
        font-size: 80%
        font-weight: inherit
        margin-bottom: 2em
    .text-wrap
        font-size: 80%
        margin-top: 0
        margin-bottom: 3em
        padding-top: 1em
        padding-bottom: 1em
        height: 5em
        box-sizing: content-box
        p
            margin: 0
            transition: opacity 1s, filter 1s
        .text
            opacity: 1
        .origin
            color: #ffccd6    // sakura pink (#ffb7c5) variant
            letter-spacing: .5ch
            opacity: 0.75
            filter: blur(3px)
            transform: translateY(-100%)
        &:hover
            .text
                opacity: 0
            .origin
                opacity: 1
                filter: blur(0px)
    i, emph
        font-weight: bolder
        margin-left: 1ch
        margin-right: 1ch
    code
        display: block
        margin: 0
        white-space: pre
        color: $color.blue.lighten-3
        font-size: 75%
        .hint
            color: $color.light-blue.darken-4

// for mobile
body
    position: fixed
    top: 0
    width: 100%
    height: "calc( 100% - %s )" % $footer-reserved-height
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
    flex-wrap: nowrap
footer
    position: fixed
    z-index:  99
    bottom:   0
    left:     0
    margin-top: 0
header
    order: 2
    .banner
        font-size: 1.6em
        margin-bottom: .5em
        margin-top:    0
        display: none
        text-align: center
        font-weight: bolder
    nav
        font-weight: $font-weight-base
        max-width: 20ch
        min-width: 12ch
        margin:  0 auto
        a
            display: block
            line-height: 2
        a, a:visited
            color: $color.gray.lighten-2
        a:hover
                color: $color.white.normal
.carousal
    position: relative
    order: 1
    max-height: 66.67vw
    flex-grow: 1
    margin-bottom: 1em
    isolateLayer()
    .content
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top:    0
        bottom: 0
        left:   0
        right:  0
        transition: opacity 1s
        &[aria-hidden="true"]
            opacity: 0
        &[aria-hidden="false"]
            opacity: 1
        img
            width:  100%
            height: auto

@media screen and (min-width: $px-tablet)
    header
        .banner
            display: block

@media (orientation: landscape)
    body
        flex-direction: row
        justify-content: space-around
        align-items: center
    header
        order: 1
        .banner
            display: block
            text-align: left
        a
            text-align: left
    .carousal
        order: 2
        max-height: none
        align-self: stretch
        margin-bottom: 0
        .content
            display: flex
    #suki-desu
        .title
            justify-content: flex-start

@media screen and (max-height: 720px)
    header
        font-size: 1rem

@media print
    header
        nav
            *, *.visited
                background-color: inherit
                color: $color.black.normal !important
