module.exports =  {

    /* enable/disable koa-static cache, koa-swig cache */
    cache:  true,

    /* https port, default: 443 */
    httpsPort: 4430,

    /* https bind address, default: '::' */
    httpsAddr: '::1'

    /* TLS/SNI configuration
     *
     * key, cert, ca are resolved from `__dirname`
     *
     * tls Object will be passed as is to tls.createServer
     * except:
     *   key, cert, ca:  read into Buffer
     *   SNICallback  :  parsed from sni Object
     *
     * sni Object: {
     *    servername: {   // one or more
     *        ca,   // optional
     *        key,
     *        cert,
     *    }
     * }
     *
     * servername can be a string or a RegExp
     * string servername provides limited globing feature:
     *   '*.localhost'      :   match localhost's all subdomain, but not 'localhost'
     *   'a.xyz, b.xyz'     :   match 'a.xyz' and 'b.xyz'
     *   '*.a.xyz, *.b.xyz' :   equiv '*.a.xyz' and '*.b.xyz'
     */
    tls: {
        key:  'key.pem',
        cert: 'cert.pem',
        ca:   [ './intermediate.pem' ],
        /* tls Options supported in nodejs */
    },
    sni: {
       'localhost': {
           key:  'localhost.key',
           cert: 'localhost.cer',
           ca:   [ './intermediate/pem' ]
       },
       ...
    },
    /* public pins */
    pkp: {
        includeSubdomains: false,
        maxAge:  24*60*60*90*1000,   // time in milliseconds
        sha256s: ['active', 'backups', ...],
        reportUri:  'http://report-hpkp.com/...',
        reportOnly: false
    }
}
