module.exports =  {
    httpPort:  1300,    // for test, use 80  in production
    httpsPort: 1433,    // for test, use 443 in production
    cache:  true,
    // optional
    sslKey: __dirname + '/ssl.key',
    sslCrt: __dirname + '/ssl.crt'
}
