article {
    line-height: 1.7;
}
article ul.post-list{
    display: block;
	list-style: none;
	padding: 0;
    margin:  0;
    position: initial;
}

.post-entry{
	padding:    .5em 1em;
	box-sizing: border-box;
	position:   relative;
	border-bottom: 1px solid #666;
}
.post-entry:nth-child(even) {
	background-color: #303030;
}
.post-entry:nth-child(odd) {
	background-color: #3c3c3c;
}
.post-entry:last-child {
	border-bottom: 0;
}

.post-entry a, .post-entry a:visited {
    display: block;
    color:   inherit;
	text-decoration: none;
}

.post-entry .title-line {
    display: table;
    width: 100%;
    margin: .5em 0 1em 0;
}
.post-entry .title-line * {
    display: table-cell;
    vertical-align: middle;
}
.post-entry .title-line h2 {
    font-weight: bolder;
    margin:  0;
    padding: 0;
}
.post-entry .title-line time {
    width: 10ch;
    padding: 0 .5ch;
    text-align: left;
    overflow: visible;
    color: #ccc;
}

.post-entry p {
	margin: 1em 0;
}

@media (max-width: 4in) and (orientation: portrait),
       (max-width: 6in) and (orientation: landscape)
{
    .post-entry {
        padding: .5em;
    }
    .post-entry .title-line {
        display: block;
        margin:  .5em 0;
    }
    .post-entry .title-line * {
        display: block;
    }
    .post-entry .title-line time {
        display: none;
    }
	.post-entry p {
		margin: .5em 0;
	}
}
