html {
    /* prevent scrollbar from affecting article's center alignment
     * which causes article to flash to different position
     * this is uncomfortable to eyes!
     */
    overflow-y: scroll;
}
article {
    line-height: 1.7;
}
article ul.post-list{
    display: block;
    list-style: none;
    padding: 0;
    margin:  0;
    position: initial;
}

.post-entry{
    padding:    .5em 1em;
    box-sizing: border-box;
    position:   relative;
    border-bottom: 1px solid #666;
    background-color: #303030;
}
.post-entry:last-child {
    border-bottom: 0;
}
.post-entry a, .post-entry a:visited {
    display: block;
    color:   inherit;
    text-decoration: none;
}
.post-entry[aria-hidden='true'] {
    display: none;
}
.post-entry .title-line {
    display: table;
    width: 100%;
    margin: .5em 0 1em 0;
}
.post-entry .title-line * {
    display: table-cell;
    vertical-align: middle;
}
.post-entry .title-line h2 {
    font-weight: bolder;
    margin:  0;
    padding: 0;
}
.post-entry .title-line time {
    width: 10ch;
    padding: 0 .5ch;
    text-align: left;
    overflow: visible;
    color: #ccc;
}
.post-entry p {
    margin: 1em 0;
}

.mobile-w50 {
    display: inline-block;
    text-align: center;
}

.panel {
    margin: 1ex auto;
    padding: .5ex 0;
    transition: background-color .3s;
}
.panel .header {
    font-size: 120%;
    position: relative;
    padding: 0 .5ex;
}
.panel .body {
    padding-top: .5em;
}
.hint-icon:before {
    transition: transform .3s;
    vertical-align: middle;
    opacity: 0.3;
}
.center-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.checkbox {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color:  #c0c0c0;
    border: none;
    padding: .5ex 1em .5ex .7em;
    margin:  .5ex;
    font-size: inherit;
    line-height: inherit;
    transition: background-color .3s, color .3s, box-shadow .3s;
}
.checkbox[class^="icon-"]:before, .checkbox[class*=" icon-"]:before {
    margin-right: .3em;
    vertical-align: baseline;
}
.checkbox[class^="icon-"]:hover:before,
.checkbox[class^="icon-"]:focus:before,
.checkbox[class^="icon-"]:active:before,
.checkbox[class*=" icon-"]:hover:before,
.checkbox[class*=" icon-"]:focus:before,
.checkbox[class*=" icon-"]:active:before {
    opacity: 0.2;
}
.checkbox[class^="icon-"]:before, .checkbox[class*=" icon-"]:before {
    color:   #fff;
    opacity: 0.1;
    transition: opacity .3s;
}
.checkbox[aria-checked='true'][class^="icon-"]:before,
.checkbox[aria-checked='true'][class*=" icon-"]:before {
    opacity: 1;
}

/* TODO-SECTION: color scheme */
.checkbox.dark {
    color: #808080;
    background-color: #303030;
}
.checkbox.dark:hover, .checkbox.dark:focus {
    color: #eee;
}
.checkbox.dark:active, .checkbox.dark[aria-checked='true'] {
    background-color: #181818;
    color: #fff;
    box-shadow: 0 0 2em #000;
}

@media (max-width: 4.5in) and (orientation: portrait),
       (max-width: 6in) and (orientation: landscape)
{
    .post-entry {
        padding: .5em;
    }
    .post-entry .title-line {
        display: block;
        margin:  .5em 0;
    }
    .post-entry .title-line * {
        display: block;
    }
    .post-entry .title-line time {
        display: none;
    }
    .post-entry p {
        margin: .5em 0;
    }
    .mobile-w50 {
        width: 50%;
    }
    .checkbox {
        box-sizing: border-box;
        display: inline-block;
        width: 90%;
        margin: .5ex 0;
        text-align: center;
    }
    .panel {
        font-size: 120%;
        background-color: #3c3c3c;
    }
    .mobile-dropdown[aria-expanded='true'] {
        background-color: #262626;
    }
    .mobile-dropdown[aria-expanded='true'] .hint-icon:before {
        transform: scaleY(-1);
    }
    .mobile-dropdown[aria-expanded='false'] .body{
        height: 0;
        padding-top: 0;
        overflow-y: hidden;
    }
}

@media (min-width: 4.5in) and (orientation: portrait),
       (min-width: 6in) and (orientation: landscape) {
.mobile-only {
    display: none !important;
}
