<!DOCTYPE html>
<html>

<head>
{% include "_meta.tmpl" %}
{% if !robots %}<meta name="robots" content="noindex, nofollow">{% endif %}
<meta name="description" content="{{description|safe}}">
<meta name="keywords" content="{{keywords|join(', ')|safe}}">
<title>{{title}} | Jw.Q</title>
{% include "_head.tmpl" %}
<link rel="stylesheet" href="/hljs-css/railscasts.css">
<script>window.setCurrentNavItem('blog')</script>
{%- for _ in bubbles%}
{{_|safe}}
{%- endfor %}
</head>

<body>

{% include "_nav.tmpl" %}

<div role="main" class="main">
<article>
{{ html|safe }}
</article>
</div>

{% include "_footer.tmpl" %}
{% include "_analytics.tmpl" %}

</body>

</html>
