{%- import "_common.tmpl" as common -%}

<!DOCTYPE html>
<html>

<head>
{{ common.meta() }}
{% if !robots %}<meta name="robots" content="noindex, nofollow">{% endif %}
<meta name="description" content="{{description|safe}}">
<meta name="keywords" content="{{keywords|join(', ')|safe}}">
<title>{{title}} | Jw.Q</title>
{{ common.head() }}
<link rel="stylesheet" href="/hljs-css/railscasts.css">
{%- for _ in bubbles%}
{{_|safe}}
{%- endfor %}
</head>

<body>
{{ common.header("blog") }}

<div role="main" class="main">
<article>
{{ html|safe }}
</article>
</div>

{{ common.footer() }}

</body>

</html>
