article {
    font-weight: 100; /* mostly english, ok to use thin font */
}
article section {
    animation: fadein  1s ease 0s normal both,
               slidein 1s ease 0s normal both;
    border: none;
}
article section.bio{
    font-size:   1.2rem;
}
article strong {
    color: inherit;
}
article pre {
    background: none;
}
article a, article a:visited {
    color: inherit;
}

article section.edu{
    font-size: 1rem;
}

.detail > :not(.bg) {
    z-index: 1;
}
.detail > .bg {
    margin: 0; padding:0;
    z-index: -1;
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    box-shadow: inset 0 0 1.5rem .3rem #222;
    background-position: center;
    background-size: cover;
    transition: filter 0.8s;
    filter: brightness(0.4);
}
.detail {
    position: relative;
    padding: 1ex 2ch;
}
.detail h3{
    margin-top:    0;
    margin-bottom: .5ex;
}
.detail h5{
    color: #fff;
}
.detail p+h5{
    margin-top: 0;
}
.detail p{
    margin-top:    1ex;
    margin-bottom: 1ex;
}
.detail ul h4{
    margin-top:    .5ex;
    margin-bottom: 0;
    color:         #e0e0e0;
}
.detail ul li {
    padding-top:    0.1em !important;
    padding-bottom: 0.1em !important;
    border-bottom:  none;
}
.detail ul li > *{
    margin-left:   0;  /* override article's heading based indent */
}
.detail h5, .detail ul, .detail ol {
    padding-left:  0;
    padding-right: 0;
    background-color: rgba(0,0,0,0);
    left: 0;
}
.detail ul li p{
    margin-top:    .3ex;
    margin-bottom: .3ex;
}
.detail ul li h4+*{
    margin-top:    0;
}
.detail ul li p:last-child {
    margin-bottom: 0;
}
article h3 {
    color: #ffffff;
}

.block-link-container {
    margin-top: 1em;
    margin-bottom: 1em;
}
.block-link-container a.block-link {
    display: inline-block;
    margin-top:    .5em;
    margin-bottom: 0;
    margin-left:   1ex;
    margin-right:  1ex;
}

@media (max-width: 10in) {
    .detail {
        padding: 1ex 1ch;
    }
}
@media (max-width: 7in), handleld and (orientation: portrait) {
    .detail {
        padding: 1ex 0;
    }
    .detail > .bg {
        margin-left:  -1ch;
        margin-right: -1ch;
        width: 100vw;
    }
    .block-link-container a.block-link {
        text-align: center;
        display: block;
    }
}
