section.bio{
    font-size:   1.2rem;
}
section.t-fadein-start {
    opacity: 0;
    left:    3ch;
}

.overlay {
    margin: 0; padding: 0;
    position: relative;
    font-family: inherit;
}
.overlay .top, .overlay .bot {
    transition: filter 1s, -webkit-filter 1s;
    padding: 0.2rem 2ch;
    margin:  0;
    font-size: 1.2rem;
    font-family: inherit;
}
.overlay .top {
    position: relative;
    -webkit-filter: opacity(0);
            filter: opacity(0);
    z-index: 1;
    color: #fff;
}
.overlay .bot {
    position: absolute;
    top:  0;
    -webkit-filter: opacity(1);
            filter: opacity(1);
    z-index: 0;
    color: #ccc;
}
.overlay:hover .top {
    -webkit-filter: opacity(1);
            filter: opacity(1);
}
.overlay:hover .bot {
    -webkit-filter: opacity(0);
            filter: opacity(0);
}
.overlay h4.bot::after {
    content: " ...";
}
.g_dtl[expanded]:not(:focus) {
    height: 1.6rem!important;
}
.g_dtl {
    display: block;
    overflow: hidden;
    transition: height 0.6s;
    position: relative;
    padding: 0;
    margin: 0 2ch;
    font-family: serif;
}
.g_dtl > .bg {
    margin: 0; padding:0;
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%; height: 100%;
    box-shadow: inset 0 0 1.5rem 0 #222; 
    background-position: center;
    background-size: cover;
    transition: filter 0.6s, -webkit-filter 0.6s;
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
}
.g_dtl > * {
   z-index: 1;
}
.g_dtl:focus .overlay .top {
    -webkit-filter: opacity(1);
            filter: opacity(1);;
}
.g_dtl:focus .overlay .bot {
    -webkit-filter: opacity(0);
            filter: opacity(0);
}
.g_dtl:focus > .bg {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}
.g_dtl pre {
    transition: filter 1s, -webkit-filter 1s;
    -webkit-filter: opacity(0);
            filter: opacity(0);
    margin: 0.5ex 0 1ex 2ch;
    padding: 0;
    line-height: 133%;
    color: #dedede;
    position: relative;
}
.g_dtl:focus pre {
    -webkit-filter: opacity(1);
            filter: opacity(1);
}

@media all and (max-width: 120ch) {
    .overlay .top, .overlay .bot {
        padding: 0.2rem 1ch;
    }
    .overlay .top, .overlay .bot {
        padding: 0.2rem 1ch;
    }
    .g_dtl {
        margin: 0;
    }
    .g_dtl pre {
        margin: 0.5ex 0 1ex 1ch;
    }
    .g_dtl:focus .overlay {
        background-color: rgba(0,0,0,0.6);
    }
    pre{
        overflow-x: scroll;
    }
} 
