section h3 {
    margin: 0.5rem auto;
    font-size: 1.4rem;
    font-family: "Lucida Sans Unicode", Verdana, "Microsoft YaHei", "微软雅黑", Arial;
    color: #ffffff;
    text-decoration: underline;
}
section h3::before {
    content: " > ";
}
section > :not(h3) {
    padding: 0 4ch;
}
section.bio{
    font-size:   1.2rem;
}
section {
    position: relative;
    margin: 1rem auto;
    transition: all 1s;
    color: #cbcbcb;
}
section.t-fadein-start {
    opacity: 0;
    left:    3ch;
}

h4 {
    margin: 0 auto;
    padding: 0.3rem;
    font-size: 1rem;
}
h4.bot::after {
    content: " ...";
}
.overlay {
    margin: 0;
    position: relative;
    display: block;
    background-color: rgba(23, 23, 23, 0.5);
    padding: 0 1ch;
}
.overlay .top {
    position: absolute;
    top: 0;
    transition: opacity 1s;
    opacity: 0;
    z-index: 1;
}
.overlay .bot {
    transition: opacity 1s;
    opacity: 1;
    color: #777;
    background: transparent;
}
.overlay:hover .top {
    opacity: 1;
}
.overlay:hover .bot {
    opacity: 0;
}
.grp_detail[expanded]:not(:focus) {
    height: 1.6rem!important;
}
.grp_detail {
    display: block;
    overflow: hidden;
    transition: height 0.6s, background-position 0.6s;
    position: relative;
    box-shadow: inset 0 0 3rem 0.5rem #171717;
    background-size: cover;
    background-position: 0 0;
    background-clip: content-box;
    padding: 0;
    margin: 0 4ch;
}
.grp_detail:focus {
    background-position: 0 -2rem;
}
.grp_detail:focus .overlay .top {
    color: #cbcbcb;
    opacity: 1;
}
.grp_detail:focus .overlay .bot {
    color: #aeaeae;
    opacity: 0;
}
.grp_detail pre {
    opacity: 0;
    transition: opacity 0.6s;
    background-color: rgba(23,23,23,0.5);
    margin: 0;
    padding: 2ex 4ch;
    line-height: 133%;
}
.grp_detail:focus pre {
    opacity: 1;
}
.round {
    border-radius: 1rem;
}
article {
    background-color: #171717;
}

.float-container > *{
    float: left;
}
.float-container > a {
    display: block;
    width: 30pt;
    height: 30pt;
}
