{%- import "_common.tmpl" as common -%}

<!DOCTYPE html>
<html>

<head>
{{ common.meta() }}
<meta name="robots" content="noindex, nofollow, noodp, narchive">
<title>Oops, Server Error.</title>
<link rel="stylesheet" href="/base.css">
<link rel="stylesheet" href="/error-page.css">
<link rel="stylesheet" href="/font-icons.css">
<link rel="icon" href="/favicon.png">
<style>h2:before {color: #f44336;}</style>
</head>

<body>

<div role="main" class="main">
    <article>
        <section lang="en-US">
            <h2 class="icon-emo-devil">Server Exploded!</h2>
            <p>
                Server renderer just blew up, due to Jw.Q's bad coding.<br>
                Maybe Jw.Q will fix it when he gets enough food.
            </p>
            <a href="/" class="icon-angle-double-right" title="Homepage">Back to Homepage</a>
        </section>
        <hr>
        <section lang="zh-CN">
            <h2 class="icon-emo-devil">页面爆炸了噜。</h2>
            <p>
                手撸的代码把服务器弄坏啦！<br>
                或许找到妹子以后会把页面修好咯。
            </p>
            <a href="/" class="icon-angle-double-right" title="Homepage">回主页</a>
        </section>
    </article>
</div>

{{ common.footer() }}

</body>

</html>
