@viewport {
    width: devide-width;
    user-scalable: no;
}
@keyframes fadein{
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes slidein{
    from {transform: translate(2rem, 0);}
    to   {transform: translate(0, 0);}
}
@keyframes expand {
    from {transform: scaleX(0);}
    to   {transform: scaleX(1);}
}

@font-face {
    font-family: en-sans;
    src: local("Helvetica Neue"),
         local("Open Sans"),
         url('/OpenSans-Light.ttf');
    font-weight: 100;
    font-style:  normal;
}

@font-face {
    font-family: cn-sans;
    src: local("Hiragino Sans GB"),
         local("Microsoft YaHei"),
         local("微软雅黑"),
         local("STXiHei"),
         local("华文细黑");
    font-weight: 100;
    font-style:  normal;
}

/* Font that includes EN/CN characters, and is built-in */
@font-face {
    font-family: all-sans;
    src: local("PingFang-SC-Light"); /* OS X 10.11 font */
    font-weight: 100;
    font-style:  normal;
}

@font-face {
    font-family: en-monospace;
    src: local("Courier New");
}

@font-face {
    font-family: cn-monospace;
    src: "SimSun", "宋体", monospace;
}

/* TODO: someone suggest a cursive font? */
@font-face {
    font-family: en-cursive;
    src: local("Sofia"),
         url("/SofiaRegular.otf");
    font-weight: normal;
    font-style:  normal;
}

/* TODO: someone suggest a list of cursive fonts installed on most computer? */
@font-face {
    font-family: cn-cursive;
    src: cursive;
}

.tcenter {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin:  0;
    padding: 0;
    background-color: #111;
    color: #d7d7d7;
    overflow-x: hidden;
}

footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 92%;
    margin: 0 auto 0 auto;
    padding: 1.5pt 4% 0 4%;
    font-family: en-monospace, cn-monospace, monospace;
    background-color: #000;
}

footer a {
    display: block;
    text-align:center;
    font-size: 0.75rem;
    margin: 0.2rem auto 0 auto;
    padding: 0.25rem 0 0.2rem 0;
    text-decoration: none;
    height: 1em;
    overflow: hidden;
    background-color: #222;
}

a, a:visited{
    color: #b8b8b8;
}

a.block-link {
    display: inline-block;
    text-decoration: none;
    border: 1px #eee;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .25em 2ch;
    border:  1px solid #555;
}

#content_wrapper {
    margin-bottom: 1.3rem;
}

.reality {
    text-decoration: line-through;
    color: #bad;
}

hr{
    border-color: #777;
}

.float-container {
    display: table;
}
.float-container > *{
    float: left;
    margin: 0.5ex 1ex;
}
.float-container > a {
    display: block;
    width: 64pt;
    height: 64pt;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.float-container > a > span {
    position: absolute;
    bottom: 0;
    margin: 0.2ex 0 0 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
}

div.banner {
    display: none;
}

/* nav / menu bar */
nav.side {
    position: fixed;
    z-index:  3;
    top:  0;
    display:inline-block;
    font-size: 1.4rem;
    min-width: 20vw;
    max-width: 85vw;
    box-sizing: border-box;
    background-color: #333;
    box-shadow: 0 0 2rem 0 #000;
    height:  3rem;
    cursor:  pointer;
}
nav.side .hint {
    color: #aaa;
    position: absolute;
    top:    50%;
    width:  2.6rem;
    right:  0;
    overflow: hidden;
    transform: translate(0, -55%);
    opacity: 1;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #dddddd;
}
nav.side.active .hint, nav.side.test .hint {
    visibility: hidden;
    cursor: default;
}
nav.side.active {
    height: 100vh;
    cursor: default;
}
nav.side.left {
    left: 2.6rem;
    padding-top:    0;
    padding-bottom: 0;
    padding-right:  2.6rem;
    padding-left:   1ch;
    transform: translate(-100%, 0);
    border-radius: 0 0 .5rem 0;
}
nav.side.active.left {
    transform: translate(-2.6rem, 0);
}
nav.side a {
    text-align:left;
    display: block;
    text-decoration: none;
    padding: 0.5ex 1ch 0.5ex 0.5ch;
    transition: background-color 0.5s;
    font-family: sans-serif;
}
nav.side a span {
    vertical-align: middle;
    margin-left:    0.5ch
}
nav.side a:hover {
    background-color: #111;
}
nav.side i{
    color: #dddddd;
}
nav .valign {
    position:relative;
    top: 1in;
}
#content_wrapper::before {
    content: " ";
    z-index:  2;
    position: fixed;
    top:    0;
    left:   0;
    height: 100%;
    width:  100%;
    display: none;
    background-color: #000;
}
#content_wrapper.overlay {
    filter: blur(2px);
}
#content_wrapper.overlay::before {
    display: block;
    opacity: 0.4;
}

@media (max-width: 9.5in) {
    nav.side:not(.active) {
        position: absolute;
        top:  0;
        left: 0;
        z-index: auto;
    }
    nav.side.left {
        border-radius: 0;
    }
    nav.side.active.left {
        padding-right: 2rem;
    }
    nav.side a {
        margin: 0.3ex 0;
    }
    nav .valign {
        position:relative;
        top: calc(50% - 0.65rem);
        transform: translate(0, -50%);
    }
    div.banner {
        display: table;
        box-sizing: border-box;
        width:   100%;
        font-family: sans-serif;
        background-color: #111;
        border-top:    .50em solid #111;
        border-bottom: .13em solid hsl(43, 76%, 87%);  /* FSN Saber, Hair color */
    }
    div.banner span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 2ch;
        color: hsl(219, 100%, 60%);   /* FSN Saber, Armor Color, Lightened */
        font-size: inherit;
    }
    /* height-related value, scale by column */
    div.banner       { height:     .8in; }
    nav.side         { height:     .8in; }
    nav.side .hint   { font-size:  .6in; }
    nav.side a       { font-size:  2rem; }
    div.banner       { font-size:  1.8rem; }
    /* width-related value, scale by column */
    div.banner           { padding-left:  .8in; }
    nav.side.left        { padding-right: .8in; }
    nav.side.left        { left:          .8in; }
    nav.side .hint       { width:         .8in; }
    nav.side.active.left { transform: translate(-0.8in, 0); }
}

/* device-height is not reliable, equiv to 5in height */
@media (max-width: 4in) and (orientation: portrait),
       (max-width: 6in) and (orientation: landscape)
{
    /* height-related value, scale by column */
    div.banner       { height:     .5in; }
    nav.side         { height:     .5in; }
    nav.side .hint   { font-size:  .35in; }
    nav.side a       { font-size:  1.6rem; }
    div.banner       { font-size:  1.4rem; }
    /* width-related value, scale by column */
    div.banner           { padding-left:  .5in; }
    nav.side.left        { padding-right: .5in; }
    nav.side.left        { left:          .5in; }
    nav.side .hint       { width:         .5in; }
    nav.side.active.left { transform: translate(-0.5in, 0); }
}

.webmaster-internal {
    display:     block;
    width:       100%;
    text-align:  center;
    font-family: sans-serif;
    font-size:   2rem;
}

@media not screen {
    div.banner {
        display: none;
    }
    nav.side {
        display: none;
    }
}
