@viewport {
    width: devide-width;
    user-scalable: no;
}
@keyframes fadein{
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes slidein{
    from {transform: translate(2rem, 0);}
    to   {transform: translate(0, 0);}
}
@keyframes expand {
    from {transform: scaleX(0);}
    to   {transform: scaleX(1);}
}
.tcenter {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin:  0;
    padding: 0;
    background-color: #111;
    color: #cecece;
}

footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 92%;
    margin: 0 auto 0 auto;
    padding: 1.5pt 4% 0 4%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
}

footer a {
    display: block;
    text-align:center;
    font-size: 0.75rem;
    margin: 0.2rem auto 0 auto;
    padding: 0.25rem 0 0.2rem 0;
    text-decoration: none;
    height: 1em;
    overflow: hidden;
    background-color: #222;
}

a, a:visited{
    color: #b8b8b8;
}

a.block-link {
    display: inline-block;
    text-decoration: none;
    border: 1px #eee;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .25em 2ch;
    border:  1px solid #555;
}

#content_wrapper {
    margin: 0 0 1.3rem 0;
}

.reality {
    text-decoration: line-through;
    color: #bad;
}

hr{
    border-color: #777; 
}

.float-container {
    display: table;
}
.float-container > *{
    float: left;
    margin: 0.5ex 1ex;
}
.float-container > a {
    display: block;
    width: 64pt;
    height: 64pt;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.float-container > a > span {
    position: absolute;
    bottom: 0;
    margin: 0.2ex 0 0 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);
    text-align: center;
}

/* nav bar for normal pages */
nav.side {
    position: fixed;
    top:  40%;
    background-color: #333;
    border-radius: 0 0.5em 0.5em 0;
    left:    1.2ch;
    padding: 0.8ex 1.5ch 0.8ex 0.5ch;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    transition: transform 0.5s;
    transform: translate(-100%, -50%);
    filter: drop-shadow(0.3ch 0.3rem 2rem #000);
    z-index:99;
}
nav.side:hover {
    background-color: #333;
    transform: translate(-1.5ch, -50%);
}
nav.side:first-child::before {
    content: ">";
    color: #999;
    position: absolute;
    padding-right: 0;
    padding-left:  0.5ch;
    transform: translate(0, -50%) scale(0.5, 2);
    top: 50%;
    right: 0;
    border-left: 1px solid #111;
}
nav.side a {
    text-align:right;
    display: block;
    text-decoration: none;
    margin: 0.3ex 0;
    padding: 0 0.5ch 0 0.5ch;
    transition: background-color 0.5s;
    font-family: inherit;
}
nav.side a:hover {
    background-color: #111;
}
nav.side a:after {
    padding: 0 0.5ch;
}

/* style override for mobile/portriat device */
@media not screen {
    nav.side {
        display: none;
    }
}

