#content_wrapper{
    overflow: hidden;
    padding: 0;
    position: absolute;
    height: calc(100% - 1.5rem);
    width:  100%;
}

.tcenter {
    position: absolute;
    top:  50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.menu {
    width: 90%;
    z-index: 1;
    overflow: hidden;
    transition: background-color 1s, height 1s, opacity 1s;
    padding: 2rem 5% 2rem 5%;
    background-color: rgba(0,0,0,0.5);
    font-family: cursive;
}
.menu.t-fadein-start {
    opacity: 0;
}
.menu.t-before-expand {
    background-color: rgba(0,0,0,0);
    height: calc(2rem + 5.4em) !important;
}
.menu nav {
    transition: opacity 1s;
    opacity: 1;
    display: block;
    margin: 2rem auto 0 auto;
    padding: 0;
    text-align: center;
}
.menu.t-before-expand .nav {
    opacity: 0;
}
.menu nav a{
    display: inline-block;
    margin:  0 1ch;
    padding: 0.5ex 2ch;
    min-width: 6ch;
    color: #d0d0d0;
    font-size: 1.4em;
    font-family: "Lucida Sans Unicode", Verdana, "Microsoft YaHei", "微软雅黑", Arial;
    transition: color 1s, background-color 1s;
    background-color: rgba(0,0,0, 0.3);
}
.menu nav a:hover {
    background-color: rgba(0,0,0, 0.7);
    color: #ececec;
}

header{
    font-family: inherit;
}
h1 {
    width: 90%;
    padding: 0;
    font-size: 2.7em;
    color: #ffffff;
    margin: 1rem auto;
    font-family: inherit;
}

.edged { 
    text-shadow: 1pt   1pt  4pt #000,
                 -1pt  1pt  4pt #000,
                 -1pt -1pt  4pt #000,
                 1pt  -1pt  4pt #000
                 
}

img.bg {
    margin: 0; padding: 0;
    width:  100%;
    height: auto;
    z-index: 0;
    transition: opacity 1s;
    opacity: 0;
}
img.bg.shown {
    opacity: 1;
}

@media all and (max-width: 120ch) {
    .menu nav a {
        display: block;
        margin: 0 auto;
        width:  14ch;
        padding: 0.5ex 0; 
    }
    img.bg {
        height: 90%;
        width:  auto;
    }
}
