{# dest: about/index.html #}

{%- import "_common.tmpl" as common -%}

<!DOCTYPE html>
<html lang="en">

<head>
{{ common.meta() }}
<meta name="description" content="Jiewei Qian, student at NJUPT; Tech-savvy, Anime &amp; Game Otaku, Infant Developer; used ID includes: wacky6, std::weak">
<meta name="keywords" content="Jiewei Qian, wacky6, about, 关于">
<title>About | Jw.Q</title>
{{ common.head() }}
<link rel="stylesheet" href="about.css" data-embed>
<link rel="prefetch" href="alipay-qr-code.png">
<link rel="prefetch" href="wechat-qr-code.png">
<link rel="prefetch" href="wechat-payment-qr-code.png">
</head>

<body>
{{ common.header("about") }}

<div role="main" class="main">
<article>
    <h1>About Me</h1>
    <section class="bio">
    <p>
        My name is <span style="text-decoration: underline; color:#ffcb82;">Jiewei Qian</span>. <br>
        Born in 1995, a <span style="color:#84dcff;">college student</span> @NJUPT<br>
        Sometime a <strong style="color:#dd94ff;">{Perfectionist, Paranoid}</strong> <br>
        <strong style="color:#71ff96;">Gadget Lover</strong> <br>
        Ocassionally <span style="color:#ffee58;">shoot photos</span>, <strong style="color:#05c0ff;">PS addictive</strong> <br>
        <strong style="color:#39ffb7;">Game</strong>, <strong style="color:#f4b8ff;">Anime</strong>, <strong style="color:#88acff">Technology</strong> Otaku<br>
        Product of <strong style="color:#84dcff;">Nanjing, China</strong> <br>
        Alias: <strong style="color:#b9f6ca;">std::weak</strong>, <strong style="color:#ccff90;">wacky6</strong> (pre-2013).
    </p>
    <p>
        Fluent in <b>ES6, Node.js</b><br>
        Familiar with <b>HTML5, CSS3</b><br>
        Endeavor to become a <b>Full-Stack Developer</b><br>
        No experience with legacy or nasty code
    </p>
    </section>

    <section class="site">
        <h2>Website</h2>
        <p>
            <strong style="color:#ffab40;">Purely for Fun</strong> <br>
            Learn node.js &amp; Web technology along the way. <br>
            Outdated stuff are never supported.<br>
            Suggestions are welcomed, <a href="mailto: webmaster@wacky.one" title="Send suggestions">send an email</a>.
        </p>
        <p>
            <strong style="color:#40c4ff;">Concise and Semantically meaningful HTML</strong><br>
            Frameworks like bootstrap are superb for fast-prototyping, but produce lots of structural "garbage".
        </p>
        <p>
            <strong style="color:#64ffda;">Hand-written</strong><br>
            Served by node.js.<br>
            Powered by my <a href="/blog/it-works/">Newbie Generator</a>. <br>
            Managed through <code>git push</code>.<br>
            JS-free responsive design, No database.
        </p>
    </section>

    <hr>

    <section class="edu">
        <h2>Education</h2>
        <ol class="timeline">
            <li>
                <div class="location">Nanjing University of Post and Telecommunications</div>
                <div class="title">Software Engineering</div>
                <div class="time">
                    <time datetime="2013-09-01">Sep, 2013</time> – <time datetime="2017-06-01">June, 2017</time>
                </div>
            </li>
            <li>
                <div class="location">Nanjing University</div>
                <div class="title">Exchange Student</div>
                <div class="time">
                    <time datetime="2014-09-01">Sep, 2014</time> – <time datetime="2015-02-01">Feb, 2015</time>
                </div>
            </li>
            <li>
                <div class="location">High School Affiliated to Nanjing Normal University</div>
                <div class="title"></div>
                <div class="time">
                    <time datetime="2010-09-01">Sep, 2010</time> – <time datetime="2013-06-01">June, 2013</time>
                </div>
            </li>
        </ol>
    </section>

    <section class="work">
        <h2>Work</h2>
        <ol class="timeline">
            <li>
                <div class="entity">Smart Home Middleware</div>
                <div class="title">Project Leader / Developer</div>
                <div class="title">Provincial "Internet+" Innovation Project</div>
                <div class="title">Science and Technology Innovation Training, Outstanding (Top 10%)</div>
                <div class="time">
                    <time datetime="2015-12-01">Dec, 2015</time> – <time datetime="2016-06-01">Jun, 2016</time>
                </div>
                <div class="desc">
                    Utilize ES6 &amp; Web technologies to control IoT devices in a centralized, secure, configurable way.
                </div>
            </li>
            <li>
                <div class="entity">Fundamental Computer Knowledge Contest</div>
                <div class="title">Contest Designer</div>
                <div class="time">
                    <time datetime="2015-06-01">2015</time>, NUPT SACC
                </div>
                <div class="desc">
                    Hosted anually, targeting proficient freshman &amp; sophomore.<br>
                    Covers latest trends, fundamental theories, networking, troubleshoot, etc.
                </div>
            </li>
        </ol>
    </section>

    <section class="honor">
        <h2>Honors</h2>
        <ol class="timeline">
            <li>
                <div class="entity">Bomber-man AI Contest</div>
                <div class="title">First Prize, Rank 1st</div>
                <div class="time">
                    <time datetime="2015-12-01">2015</time>, Play.CN
                </div>
            </li>
            <li>
                <div class="entity">JSC Capture The Flag</div>
                <div class="title">Team, Rank 3rd</div>
                <div class="desc">With <a title="neo0老司机" href="https://www.neo0.xyz">neo0</a>, <a title="万能的wxy大大" href="http://blog.wangxiyu.me">wxy</a></div>
                <div class="time">
                    <time datetime="2015-11-01">2015</time>, China JSC
                </div>
            </li>
            <li>
                <div class="entity">Collegiate Chinese-English Translation Contest</div>
                <div class="title">Second Prize</div>
                <div class="time">
                    <time datetime="2014-12-01">2014</time>, NJUPT
                </div>
            </li>
            <li>
                <div class="entity">National Scholarship</div>
                <div class="time">
                    <time datetime="2014-11-01">2014</time>, NJUPT
                </div>
            </li>
            <li>
                <div class="entity">Canon(China) Photography Contest</div>
                <div class="title">Professional Group, Honorable Mention</div>
                <div class="time">
                    <time datetime="2013-12-01">2013</time>
                </div>
            </li>
            <li>
                <div class="entity">National Olympaid in Informatics in Provinces</div>
                <div class="title">Second Prize</div>
                <div class="time">
                    <time datetime="2012-11-01">2012</time>, China Computer Federation
                </div>
            </li>
        </ol>
    </section>

    <hr>

    <section class="contact">
        <h2>Find me</h2>
        <ul class="contact-list box">
            <li><a class="icon-github-circled" title="wacky6 @ github" href="https://github.com/wacky6">wacky6</a></li>
            <li><a class="icon-steam" title="std::weak @ steam" href="http://steamcommunity.com/profiles/76561198136518480">std::weak</a></li>
            <li><a class="icon-wechat" id="wechat-qr-code" title="std-weak @ wechat">std-weak</a></li>
            <li><a class="icon-renren" title="Jw.Q @ Renren" href="http://www.renren.com/335657284">Jiewei Qian</a></li>
            <li><a class="icon-mail-alt" title="wacky6@qq.com" href="mailto: wacky6@qq.com">wacky6@qq.com</a></li>
        </ul>
    </section>

    <section class="donation">
        <h2>Donation</h2>
        <div class="layout">
            <div class="avatar-box">
                <img class="avatar" src="cc-cat.gif"></img>
            </div>
            <ul class="donation-list box">
                <li><a class="icon-yen" id="alipay-qr-code" role="button" aria-pressed="false">支付宝</a></li>
                <li><a class="icon-wechat" id="wechat-payment-qr-code" role="button" aria-pressed="false">微信</a></li>
            </ul>
        </div>
    </section>

</article>

<div class="overlay" role="dialog" aria-hidden="true">
    <div class="content"></div>
</div>

</div>

{{ common.footer() }}

<script src="about.js" data-embed></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "breadcrumb": "关于",
  "dateCreated":  "2015-07-10",
  "dateModified": "2015-12-31",
  "license":      "https://creativecommons.org/licenses/by-nc-nd/4.0/",
  "mainEntity":{
    "@type": "Person",
    "name": "Jiewei Qian",
    "alternateName": "钱颉伟",
    "gender": "Male",
    "birthDate": "1995-04-18",
    "birthPlace": {
      "@type": "City",
      "name": "Nanjing"
    },
    "jobTitle": "Student",
    "email": "mailto:wacky6@qq.com",
    "url": "https://wacky.one/",
    "nationality": {
      "@type": "Country",
      "name":  "China"
    },
    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name":  "Nanjing University of Posts and Telecommunications",
      "alternateName": "南京邮电大学",
      "sameAs": "http://www.njupt.edu.cn/"
    },
    "memberOf": {
      "@type": "Organization",
      "name":  "NJUPT Science Association of Computer College",
      "alternativeName": "南京邮电大学 计算机软件学院科协",
      "sameAs": "http://www.nuptsacc.com"
    },
    "alumniOf": {
      "@type": "HighSchool",
      "name":  "High School Affiliated to Nanjing Normal University",
      "alternateName": "南京师范大学附属中学",
      "sameAs": "http://www.nsfz.net/"
    }
  }
}
</script>

</body>

</html>
