{# dest: about/index.html #}

{%- import "_common.tmpl" as common -%}

<!DOCTYPE html>
<html lang="en">

<head>
{{ common.meta() }}
<meta name="description" content="Jiewei Qian, student at NJUPT; Tech-savvy, Anime &amp; Game Otaku, Infant Developer; used ID includes: wacky6, std::weak">
<meta name="keywords" content="Jiewei Qian, wacky6, about, 关于">
<title>About | Jw.Q</title>
{{ common.head() }}
<link rel="stylesheet" href="about.css" data-embed>
<link rel="prefetch" href="alipay-qr-code.png">
<link rel="prefetch" href="wechat-qr-code.png">
<link rel="prefetch" href="wechat-payment-qr-code.png">
</head>

<body>
{{ common.header("about") }}

<div role="main" class="main">
<article>
    <h1>About Me</h1>
    <section class="bio">
    <p>
        <a href="http://www.njupt.edu.cn/" title="Nanjing University of Posts and Telecommunications">@NJUPT</a> graduate; <a href="http://www.anu.edu.au/" title="the Australian National University">@ANU</a> CECS Master Student <br>
        Sometime a <strong style="color:#dd94ff;">{Perfectionist, Paranoid}</strong> <br>
        <strong style="color:#71ff96;">Tech Savvy</strong> <br>
        Ocassionally <span style="color:#ffee58;">shoot photos</span>, <strong style="color:#05c0ff;">PS addictive</strong> <br>
        <strong style="color:#39ffb7;">Game</strong>, <strong style="color:#f4b8ff;">Anime</strong>, <strong style="color:#88acff">Technology</strong> Otaku<br>
        Product of <strong style="color:#84dcff;">Nanjing, China</strong> <br>
        Alias: <strong style="color:#b9f6ca;">std::weak</strong>, <strong style="color:#ccff90;">wacky6</strong> (pre-2013).
    </p>
    </section>

    <section class="contact">
        <h2>Find me</h2>
        <ul class="contact-list box">
            <li><a class="icon-github-circled" title="wacky6 @ github" href="https://github.com/wacky6">wacky6</a></li>
            <li><a class="icon-steam" title="std::weak @ steam" href="http://steamcommunity.com/profiles/76561198136518480">std::weak</a></li>
            <li><a class="icon-wechat" id="wechat-qr-code" title="std-weak @ wechat">_WaCkY</a></li>
            <li><a class="icon-telegram" title="wacky6 @ telegram" href="https://telegram.me/wacky6">wacky6</a></li>
            <li><a class="icon-renren" title="Jw.Q @ Renren" href="http://www.renren.com/335657284">Jiewei Qian</a></li>
            <li><a class="icon-mail-alt" title="qjw@wacky.one" href="mailto: qjw@wacky.one">qjw@wacky.one</a></li>
        </ul>
    </section>

    <section class="donation">
        <h2>Donation</h2>
        <div class="layout">
            <div class="avatar-box">
                <img class="avatar" src="cc-cat.gif"></img>
            </div>
            <ul class="donation-list box">
                <li><a class="icon-yen" id="alipay-qr-code" role="button" aria-pressed="false">支付宝</a></li>
                <li><a class="icon-wechat" id="wechat-payment-qr-code" role="button" aria-pressed="false">微信</a></li>
            </ul>
        </div>
    </section>

</article>

<div class="overlay" role="dialog" aria-hidden="true">
    <div class="content"></div>
</div>

</div>

{{ common.footer() }}

<script src="about.js" data-embed></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "breadcrumb": "关于",
  "dateCreated":  "2015-07-10",
  "dateModified": "2017-06-23",
  "license":      "https://creativecommons.org/licenses/by-nc-nd/4.0/",
  "mainEntity":{
    "@type": "Person",
    "name": "Jiewei Qian",
    "alternateName": "钱颉伟",
    "gender": "Male",
    "birthDate": "1995-04-18",
    "birthPlace": {
      "@type": "City",
      "name": "Nanjing"
    },
    "jobTitle": "Student",
    "email": "mailto:qjw@wacky.one",
    "url": "https://wacky.one/",
    "nationality": {
      "@type": "Country",
      "name":  "China"
    },
    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name":  "Nanjing University of Posts and Telecommunications",
      "alternateName": "南京邮电大学",
      "sameAs": "http://www.njupt.edu.cn/"
    },
    "memberOf": {
      "@type": "Organization",
      "name":  "NJUPT Science Association of Computer College",
      "alternativeName": "南京邮电大学 计算机软件学院科协",
      "sameAs": "http://www.nuptsacc.com"
    },
    "alumniOf": {
      "@type": "HighSchool",
      "name":  "High School Affiliated to Nanjing Normal University",
      "alternateName": "南京师范大学附属中学",
      "sameAs": "http://www.nsfz.net/"
    }
  }
}
</script>

</body>

</html>
