{%- macro meta() -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no">
<meta name="author" content="Jiewei Qian, wacky6">
<meta name="HandheldFriendly" content="true">
{%- endmacro -%}



{%- macro head() -%}
<link rel="stylesheet" href="/base.css">
<script src="/bliss.min.js"></script>
<script src="/common-ng.js"></script>
<link rel="stylesheet" href="/font-icons.css">
<link rel="icon" href="/favicon.png">
{%- endmacro -%}



{%- macro header(_active) -%}
    {%- macro nav(id, text, title, href) -%}
        {%- if _active===id -%}
            {%- set _attr = " active" -%}
        {%- else -%}
            {%- set _attr = "" -%}
        {%- endif -%}
        <a title="{{title}}" href="{{href}}"{{_attr}}>{{text}}</a>
    {%- endmacro -%}

<header>
    <a role="banner" class="banner" title="Homepage" rel="index" href="/">Jw.Q's</a>
    <nav role="navigation">
        {{ nav("blog",  "Blog", "Blog posts", "/blog/")  }}
        {{ nav("about", "Intro.", "About me", "/about/") }}
    </nav>
</header>
{%- endmacro -%}



{%- macro footer() -%}
<footer>
  <a class="copyright" href="https://github.com/wacky6">Jw.Q (C) 2014-2016, CC BY-NC-SA-4.0</a>
</footer>
{%- endmacro -%}



{%- macro analytics() -%}
{%- if includeAnalyticsCode -%}
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-72435418-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
{%- endif -%}
{%- endmacro -%}
