{%- macro meta() -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no">
<meta name="author" content="Jiewei Qian, wacky6">
<meta name="HandheldFriendly" content="true">
{%- endmacro -%}



{%- macro head() -%}
<link rel="stylesheet" href="/base.css">
<script src="/bliss.min.js"></script>
<script src="/common-ng.js"></script>
<script src="/analytics.js" defer></script>
<link rel="stylesheet" href="/font-icons.css">
<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{%- endmacro -%}



{%- macro header(_active) -%}
    {%- macro nav(id, text, title, href) -%}
        {%- if _active===id -%}
            {%- set _attr = " active" -%}
        {%- else -%}
            {%- set _attr = "" -%}
        {%- endif -%}
        <a title="{{title}}" href="{{href}}"{{_attr}}>{{text}}</a>
    {%- endmacro -%}

<header>
    <a role="banner" class="banner" title="Homepage" rel="index" href="/">Jw.Q's</a>
    <nav role="navigation">
        {{ nav("blog",  "博客", "写过的技术向文章", "/blog/")  }}
        {{ nav("about", "关于我", "关于我和这个网站", "/about/") }}
    </nav>
</header>
{%- endmacro -%}



{%- macro footer() -%}
<footer>
  <a class="copyright" href="https://github.com/wacky6/newbie">wacky6 / Jw.Q (C) 2014-2020</a>
</footer>
{%- endmacro -%}
