<link rel="stylesheet" href="/base.css">
<script src="/bliss.min.js"></script>
<script src="/common-ng.js"></script>
<link rel="stylesheet" href="/font-icons.css">
<link rel="icon" href="/favicon.png">
