<header>
    <a role="banner" class="banner" title="Homepage" rel="index" href="/">JwQ's</a>
    <nav role="navigation">
        <a nav-id="blog"  title="Blog posts" href="/Blog/">Blog</a>
        <a nav-id="intro" title="About me"   href="/About/">Intro.</a>
    </nav>
</header>
