{# dest: index.html #}

{%- import "_common.tmpl" as common -%}

<!DOCTYPE html>
<html>

<head>
{{ common.meta() }}
<meta name="description" content="Jiewei Qian / wacky6: college student. Tech-savvy, Anime Game Otaku; Infant Developer;">
<meta name="keywords" content="Jiewei Qian, wacky6, homepage, 主页">
<title>A wacky Jw.Q</title>
<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="dns-prefetch" href="http://gallery.wacky.one">
<link rel="prefetch" href="/base.css">
<link rel="prefetch" href="/font-icons.css">
<link rel="prefetch" href="/bliss.min.js">
<link rel="prefetch" href="/common-ng.js">
<link rel="stylesheet" href="index.css" data-embed>
<noscript>
    <style>
        .content:not(#noscript) { display: none; }
        .content#noscript { padding: 1em; }
    </style>
</noscript>
</head>

<body>

<header role="main">
    <h1 class="banner">Jw.Q's</h1>
    <nav role="navigation">
        <a title="Blog" href="/blog/">Blog</a>
        <a title="My gallery @ Lofter" rel="external" href="http://gallery.wacky.one">Gallery</a>
        <a title="About me, About this site" href="/about/">Intro.</a>
        <a id="suki-desu" rel="nofollow" role="button" aria-pressed="false">❤︎君が好きです</a>
    </nav>
</header>
<div class="carousal" role="complementary">
    <noscript>
        <div class="content" id="noscript" aria-hidden="false">
            <div>
                <h2>Sorry! Please use a modern browser.</h2>
                <p>
                    This website requires JavaScript to function.
                </p>
            </div>
        </div>
    </noscript>
    <div class="content" aria-hidden="false">
        <img alt="Silhouette of me. Photo courtesy of Lingjie Kong." src="/bg1.jpg"></img>
    </div>
    <div class="content" id="not-be-found" aria-hidden="true">
        <!-- write inner HTML in index.js
             this prevents Google from indexing these text -->
    </div>
</div>

{{ common.footer() }}

<script src="index.js" data-embed></script>
<script src="analytics.js" data-embed></script>

</body>

</html>
